<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Prestamos Registrados</title>
  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/normalize.css">
</head>

<body>
  <%- include('partials/header'); %>
    <div>
      <h3>Prestamos Registrados
        <!-- <a class="btn" type="button" value="Imprimir Reporte">Imprimir Reporte</a> -->
      </h3>
      <p>Registro de estimaciones de los intereses que debe pagar según el plazo, monto o tasa de interés anual
        disponible</p>
    </div>



    <div class="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">DPI</th>
            <th scope="col">Dirección</th>
            <th scope="col">Monto</th>
            <th scope="col">Interes</th>
            <th scope="col">Plazo</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < result.length; i++) { %>
            <tr>
              <td>
                <%= result[i].nombre%>
              </td>
              <td>
                <%= result[i].direccion%>
              </td>
              <td>
                <%= result[i].telefono%>
              </td>
              <td>
                <%= result[i].dpi%>
              </td>
              <td>
                <%= result[i].monto%>
              </td>
              <td>
                <%= result[i].interes%>
              </td>
              <td>
                <%= result[i].periodo%>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>

</body>

</html>